<div class="container-fluid">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" [router-link]=["/Index"]>Diet Maestro</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [router-link]=["/Index"]>Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [router-link]=["/Food"]>Food</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
